<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>csm2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,776},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,690},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,690},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,518},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,518},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,518},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,346},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,346},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,260},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,174},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,174},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
            <key>csm2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,170}}</string>
                <key>sourceSize</key>
                <string>{256,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>csm2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23e5e6704af123c0203a7768e4ab273a$</string>
            <key>textureFileName</key>
            <string>csm2.png</string>
        </dict>
    </dict>
</plist>
