<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>568400300.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{112,144}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{112,144}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>568400301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{118,144}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,144}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>568400302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,146}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,146}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>568400303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{120,142}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,142}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>568400304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{114,140}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{114,140}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>568400305.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{120,136}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,136}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>568400306.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{120,144}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,144}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>info.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:922d5749d0d91ee15465d3c19694bda5$</string>
            <key>textureFileName</key>
            <string>info.png</string>
        </dict>
    </dict>
</plist>
