<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,190},{77,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{77,60}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>2002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,190},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>2002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,294},{114,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,126}}</string>
                <key>sourceSize</key>
                <string>{114,126}</string>
            </dict>
            <key>2002_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,722},{142,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,130}}</string>
                <key>sourceSize</key>
                <string>{142,130}</string>
            </dict>
            <key>2002_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{138,136}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{138,136}}</string>
                <key>sourceSize</key>
                <string>{142,138}</string>
            </dict>
            <key>2002_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,440},{144,140}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{144,140}}</string>
                <key>sourceSize</key>
                <string>{152,144}</string>
            </dict>
            <key>2002_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,422},{148,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{148,142}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>2002_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,150},{146,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{146,142}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>2002_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,294},{144,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{144,144}}</string>
                <key>sourceSize</key>
                <string>{158,150}</string>
            </dict>
            <key>2002_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,582},{138,142}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,142}}</string>
                <key>sourceSize</key>
                <string>{154,146}</string>
            </dict>
            <key>2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{84,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,24}}</string>
                <key>sourceSize</key>
                <string>{88,24}</string>
            </dict>
            <key>2003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,422},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>2003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,898},{120,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{120,128}</string>
            </dict>
            <key>2003_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,792},{148,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,128}}</string>
                <key>sourceSize</key>
                <string>{148,130}</string>
            </dict>
            <key>2003_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,140},{130,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{130,130}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>2003_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,854},{140,138}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{140,138}}</string>
                <key>sourceSize</key>
                <string>{148,142}</string>
            </dict>
            <key>2003_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,642},{148,144}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{148,144}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>2003_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,746},{150,146}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{150,146}}</string>
                <key>sourceSize</key>
                <string>{162,156}</string>
            </dict>
            <key>2003_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,490},{150,144}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{150,144}}</string>
                <key>sourceSize</key>
                <string>{166,158}</string>
            </dict>
            <key>2003_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{146,146}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{146,146}}</string>
                <key>sourceSize</key>
                <string>{168,158}</string>
            </dict>
            <key>2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,992},{88,29}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,29}}</string>
                <key>sourceSize</key>
                <string>{92,29}</string>
            </dict>
            <key>2005_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,898},{120,132}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,132}}</string>
                <key>sourceSize</key>
                <string>{130,132}</string>
            </dict>
            <key>2005_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{228,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,252}}</string>
                <key>sourceSize</key>
                <string>{228,252}</string>
            </dict>
            <key>2005_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,758},{230,232}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{230,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>2005_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,254},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{166,166}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>2005_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{182,186}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{182,186}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>2005_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,256},{198,210}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{198,210}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>2005_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{208,234}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{208,234}}</string>
                <key>sourceSize</key>
                <string>{220,240}</string>
            </dict>
            <key>2005_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,258}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{208,258}}</string>
                <key>sourceSize</key>
                <string>{228,274}</string>
            </dict>
            <key>2005_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,516},{228,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,226}}</string>
                <key>sourceSize</key>
                <string>{228,226}</string>
            </dict>
            <key>2005_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{240,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,234}}</string>
                <key>sourceSize</key>
                <string>{240,234}</string>
            </dict>
            <key>2005_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{252,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,244}}</string>
                <key>sourceSize</key>
                <string>{252,244}</string>
            </dict>
            <key>gas.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,468},{50,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{50,39}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_bullet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b570d9aee3c78a6ac1b3a46f257d8166:1/1$</string>
            <key>textureFileName</key>
            <string>ui_bullet.png</string>
        </dict>
    </dict>
</plist>
