<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,378},{182,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,190}}</string>
                <key>sourceSize</key>
                <string>{182,190}</string>
            </dict>
            <key>comm_item_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{100,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,67}}</string>
                <key>sourceSize</key>
                <string>{100,67}</string>
            </dict>
            <key>comm_item_equip_1_invalid.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,876},{56,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,25}}</string>
                <key>sourceSize</key>
                <string>{56,25}</string>
            </dict>
            <key>comm_item_equip_2_invalid.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,933},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>comm_item_equip_3_invalid.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,934},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
            <key>comm_item_equip_4_invalid.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,995},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,27}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>comm_item_weapon_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,211},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,41}}</string>
                <key>sourceSize</key>
                <string>{72,41}</string>
            </dict>
            <key>comm_item_weapon_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{68,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,43}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>comm_item_weapon_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,177},{73,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,33}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>comm_item_weapon_1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,876},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>comm_item_weapon_1103.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,146},{76,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,29}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>comm_item_weapon_1105.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,116},{79,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,28}}</string>
                <key>sourceSize</key>
                <string>{79,30}</string>
            </dict>
            <key>comm_open_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,71},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>comm_open_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,176},{74,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,33}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>men_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,212},{182,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,190}}</string>
                <key>sourceSize</key>
                <string>{182,190}</string>
            </dict>
            <key>none2_blur_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{427,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,190}}</string>
                <key>sourceSize</key>
                <string>{427,190}</string>
            </dict>
            <key>none2_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{427,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,190}}</string>
                <key>sourceSize</key>
                <string>{427,190}</string>
            </dict>
            <key>none2_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{427,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,190}}</string>
                <key>sourceSize</key>
                <string>{427,190}</string>
            </dict>
            <key>none_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,194},{182,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,190}}</string>
                <key>sourceSize</key>
                <string>{182,190}</string>
            </dict>
            <key>number_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>number_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,194},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>number_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,937},{41,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,56}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>number_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{43,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,66}}</string>
                <key>sourceSize</key>
                <string>{43,66}</string>
            </dict>
            <key>number_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,126},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>number_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,876},{42,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,65}}</string>
                <key>sourceSize</key>
                <string>{42,65}</string>
            </dict>
            <key>number_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,938},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>number_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,876},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>number_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,876},{45,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>sourceSize</key>
                <string>{45,60}</string>
            </dict>
            <key>number_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,943},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>number_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,212},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>number_percentage.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,194},{56,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,61}}</string>
                <key>sourceSize</key>
                <string>{56,61}</string>
            </dict>
            <key>particle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,116},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,830},{182,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,190}}</string>
                <key>sourceSize</key>
                <string>{182,190}</string>
            </dict>
            <key>platformPack_item001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,876},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{30,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>platformPack_item002.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,914},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{30,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>platformPack_item003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,952},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{30,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>platformPack_item004.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,991},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{30,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>platformPack_item005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,946},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>platformPack_item006.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,876},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{36,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>platformPack_item007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,914},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{36,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>platformPack_item008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,876},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{36,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>platformPack_item009.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,876},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{36,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>platformPack_item010.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,984},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{36,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>platformPack_item017.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,984},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>platformPack_item018.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,991},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{30,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>play_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,683},{182,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,191}}</string>
                <key>sourceSize</key>
                <string>{182,191}</string>
            </dict>
            <key>setting_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,638},{182,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,190}}</string>
                <key>sourceSize</key>
                <string>{182,190}</string>
            </dict>
            <key>sound_disable_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,446},{183,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,190}}</string>
                <key>sourceSize</key>
                <string>{183,190}</string>
            </dict>
            <key>sound_enable_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,254},{183,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,190}}</string>
                <key>sourceSize</key>
                <string>{183,190}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>star_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>sure_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{182,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,191}}</string>
                <key>sourceSize</key>
                <string>{182,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>comm.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05ada60a59b1878d4bdccae4067040bd$</string>
            <key>textureFileName</key>
            <string>comm.png</string>
        </dict>
    </dict>
</plist>
