.view{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.view .header{
    width: 100%;
    height: 50px;
    
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.view .content{
    height: calc(100% - 50px);
    width: 100%;
}


.view .content .left{
    float: left;
    width: calc(100% - 300px);
    height: 100%;
}
.view .content .right{
    width: 300px;
    float: right;
    height: 100%;
    
    overflow: auto;
}
.tooltip-model{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    font-size: 16px;
}
.tooltip-model .bi{
    width: 1rem;
    height: 1rem;
}


.right-bar-box{
    /* padding: 15px 10px; */
    padding-left: 5px;
    padding-right: 5px;
}
.right-bar-box .box-item:first-child{
    margin-top: 0;
}
.right-bar-box .box-item{
    margin-top: 15px;
    padding: 15px 10px;
    border:1px solid #e6eaee;
    border-radius: 5px;
}
.right-bar-box .box-item.active{
    border: 1px solid #999;
    background-color: #eee;
}

.right-bar-box .box-item .box-control-item{
    font-size: 0;
    margin-bottom: 10px;
}
.right-bar-box .box-item .box-control-item .form-label{
    display: inline-block;
    float: none;
    width: 95px;
    margin: 0;font-size: 16px;
}
.right-bar-box .box-item .box-control-item .form-control{
    display: inline-block;
    float: none;
    width: 155px;
    margin: 0;
}

.image-list-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 470px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e6eaee;
   
    font-size: 0;
}
.image-list-box .image-list-item{
    width: 120px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    float: left;
    margin-top: 10px;
    height: 132px;
}
.image-list-box .image-list-item.active{
    border: 1px solid #7c7d7e;
}
.image-list-box .image-list-item .img-box{
    height: 100px;
    width: 100%;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.image-list-box .image-list-item .img-name{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 12px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-list-box .image-list-header{
    height: 40px;
}
.image-list-box .image-list-content{
    height: calc(100% - 40px);
    border-top: 1px solid #e6eaee;
    overflow: auto;
}

.image-list-box .image-list-cha{
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 26px;
    font-size: 22px;
    border-radius: 100%;
    border:1px solid #e6eaee;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.image-list-box .search{
    width: 150px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}
.image-list-box .image-list-cha:hover{
    background-color: #ff0000;
    color: white;
}


#mouted{
    width: 100%;
    height: calc(100% - 50px);
}
#posInfo{
    width: 100%;
    height: 50px;
    background-color: white;
    line-height: 50px;
}